@using System.Globalization;
@{ ViewBag.Renter = true; }

<div class="d-flex" id="renterDepartment">
    <div class="w-100 p-md-5 pb-5 px-3 fee-main dashboard position-relative">
        <h1 class="pb-2 pb-md-0 mb-md-4 mb-2 title-main d-flex align-items-center px-3 px-md-0 pt-5 pt-md-0 mx-0">
            Departamento
        </h1>

        <button type="button" class="mb-2 btn-fee-show" id="">
            Pendintes
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>

        <div class="fee-container col-12 p-0 mb-5" id="feebox">
            @foreach (var fee in @ViewBag.FeesPending)
            {
            <button data-button="fee" type="button" class="deparment-card col-12 py-2 rounded mb-1" data-fee-id=@fee.Id>
                <h5 class="m-0 deparment-card__fee">Cuota @fee.Id.ToString("D2")</h5>
                <span class="m-0 deparment-card__date d-flex align-items-center">
                    <svg class="mr-1" width=".95em" height=".95em" viewBox="0 0 16 16" class="bi bi-calendar-minus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        <path fill-rule="evenodd" d="M5.5 9.5A.5.5 0 0 1 6 9h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    <span class="text-capitalize">@fee.ExpiryDate.ToString("ddd d 'de' MMMM yyyy", CultureInfo.CreateSpecificCulture("es-MX"))</span>
                </span>
            </button>
            }
        </div>


        <button type="button" class="mb-2 btn-fee-show d-block" id="paidDropdownButton">
            Pagadas
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>
        <div class="fee-container col-12 p-0 mb-5" id="paidDropdownContainer">
            @foreach (var fee in @ViewBag.FeesPaid)
            {
            <button data-button="fee" type="button" class="deparment-card col-12 py-2 rounded mb-1" data-fee-id=@fee.Id>
                <h5 class="m-0 deparment-card__fee">Cuota @fee.Id.ToString("D2")</h5>
                <span class="m-0 deparment-card__date d-flex align-items-center">
                    <svg class="mr-1" width=".95em" height=".95em" viewBox="0 0 16 16" class="bi bi-calendar-minus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        <path fill-rule="evenodd" d="M5.5 9.5A.5.5 0 0 1 6 9h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    <span class="text-capitalize">@fee.ExpiryDate.ToString("ddd d 'de' MMMM yyyy", CultureInfo.CreateSpecificCulture("es-MX"))</span>
                </span>
            </button>
            }
        </div>

    </div>

    <div class="fee-details-container  pt-md-5 pb-md-0 pt-4 d-flex flex-column" id="feeDetailsContainer">
        <button class="ml-auto mx-4 mb-4 w-auto border-0 bg-transparent p-0" id="feeDetailsButton">
            <svg width="1.9em" height="1.9em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </button>

        <div class="fee-details-container__body container px-4 mb-4" id="feeDataContainer">
            <h5 class="mb-2 fee-details-container__title" data-title>Cuota</h5> 

            <p class="m-0" data-state></p>
            <p class="m-0 text-capitalize" data-expiry-date></p>
            <p class="m-0" data-amount></p>

            @* <p class="m-0">Mora $900 x3</p> *@
        </div>

        <div class="fee-details-container__submit confirm-container container px-4 text-right">
            <p class="confirm__text mb-2" data-total>Total $17700</p>
            <button class="confirm__button btn-primary px-4 py-1 rounded-pill">Firmar</button>
        </div>


        <button type="button" class="fee-details__button container m-0 mt-auto py-3">
            <svg class="fee-details__button-icon"  viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
            Descargar comprobante
        </button>
    </div>
</div>
